{%- block header -%}
    <header>
        <h1>Attendance Management System</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                {% if not user %}
                <li><a href="/signup">Signup</a></li>
                <li><a href="/login">Login</a></li>
                {% else %}
                <li><a href="/logout/{{ user.id }}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
{%- endblock -%}